details {
	background: #e0fff0;
	border: 2px solid #a0f0c0;
	margin: 1em;
	max-width: 50em;
}

li:nth-child(even) details {
	background: #e0f0ff;
	border-color: #a0c0f0;
}

input {
	font-size: 120%;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

details > div {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.inverted {
	margin-left: 0.5em;
}

audio {
	display: block;
	height: 1.5em;
}

video {
	max-height: 360px;
}

details {position: relative;}
details[open] > summary[data-future$=" rd"]:after {
	content: "* " attr(data-future) " *";
	display: inline-block;
	position: absolute;
	right: 0;
	background: yellow;
}
